<footer class="footer">
<p>Created by <a class="footer-links" href="https://github.com/Piercel2022"> Pierre </a> and <a class="footer-links" href="https://github.com/altontonn">
Newton Alumasa</a> © 2023</p>
</footer>